body{
    background-image: url('./h3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}
.form{
    height: 520px;
}
#value{
    margin-top: -15px;
    margin-bottom: 2px;
}
.form-label{
    font-size: x-large;
    font-weight: 400;
}
#main{
    margin-top: 6rem;
}
#basic-terms div{
    margin-left: -10px
}
#inputform{
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
}
.st1{
    margin-right: 6rem;
}
.st2{
    margin-right: 4.5rem;
}
.st3{
    margin-right: 3.1rem;
}
.st4{
    margin-right: 0.3rem;
}

@media screen and (max-width:700px){
    #inputform{
        margin-left: 1rem;
        margin-right: 1rem;
    }
   
}