<footer>
  <div class="footer container-xxl">
    <div class="row">
      <div class="col-md-3 follow">
        <h3>Tutor Finder</h3>
        <div class="icon">
          <a
            class="a shadow-lg mb-2 rounded"
            rel="noreferrer"
            href="https://instagram.com/m_ahmad1023?igshid=YmMyMTA2M2Y="
            target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            class="a shadow-lg mb-2 rounded"
            rel="noreferrer"
            href="https://linkedin.com/in/muhammad-ahmad-5479241b0"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a
            class="a shadow-lg mb-2 rounded"
            rel="noreferrer"
            href="https://github.com/muhammadAhmad10"
            target="_blank"
            ><i class="fa fa-github"></i
          ></a>
          <a
            class="a shadow-lg mb-2 rounded"
            rel="noreferrer"
            href="https://twitter.com/ahmaddevtobe"
            target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
        </div>
      </div>

      <div class="col-md-3 services">
        <h3>Services</h3>
        <ul class="service">
          <li><a href="#">Find a Tutor</a></li>
          <li><a href="#">Become a Tutor</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>About Us</h3>
        <p>Your website's brief description and purpose goes here.</p>
      </div>
      <div class="col-md-3 contact">
        <h3>Contact Us</h3>
        <ul class="address">
          <li>123 Main Street, City</li>
          <li>Phone: 555-555-5555</li>
          <li>Email: info@yourwebsite.com</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center copyright">Copyright &copy; - All Rights Reserved</p>
  </div>
</footer>
