<div id="front">
  <div id="center">
    <h1>Every student needs a</h1>
    <div id="animation">
      <h2><span></span></h2>
    </div>
    <div class="plans">
      <a href="#"><p>Explore</p></a>
    </div>
  </div>
</div>

<div id="aim">
  <div id="left">
    <p>
      TutorFinder connects students with high qualified tutors for one to one
      session. We aim to provide best learning experience to students.
    </p>
  </div>
  <div id="right">
    <img src="/images/student.jpg" alt="student picture" />
  </div>
</div>

<div id="body">
  <div class="left">
    <p>Its time to turn your excelence to work.</p>
    <p>
      There can be a student who need your one to one support. TutorFinder is
      providing the way students access and receive high-quality, personalized
      tutoring and tutors to help those students. Join our community of tutors
      to make a real difference in the lives of students.
    </p>
    <a href="#">Apply as a tutor</a>
  </div>
  <div class="right">
    <img src="/images/t.webp" alt="image" />
  </div>
</div>

<div id="book">
  <p>Start better study and teaching today for future of nation.</p>
  <a href="#"><p>Book Tutor</p></a>
</div>
