<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<h1>Lab Terminal</h1>
<a class="btn btn-primary" href="/api/products/list">Show Products</a>
<button class="btn btn-primary" id="show">Show Products With JQuery</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="/css/final.css" />
<script>
  $(document).ready(function () {
    $("#add").on("click", function () {
      $.ajax({
        url: "http://localhost:3000/api/products",
        type: "post",
        data: { title: "Register", color: "grey", price: 200 },
        success: function () {
          console.log("product added successfully!");
        },
      });
    });
    $("#show").on("click", function () {
      $.ajax({
        url: "http://localhost:3000/api/products",
        type: "GET",
        success: function (data) {
          data.forEach((data) => {
            $("#jquery").append(`<tr>
                <td class="text-light">${data._id}</td>
            <td class="text-light">${data.title}</td>
            <td class="text-light">${data.color}</td>
            <td class="text-light">${data.price}</td>
            </tr>`);
          });
        },
      });
    });
  });
</script>
<button id="add" class="btn btn-primary">Add Product</button>

<div id="h" class="container-fluid mt-5 w-75">
  <h1>Product List Using JQuery</h1>
  <table class="table table-striped">
    <thead>
      <tr class="text-light">
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="jquery"></tbody>
  </table>
</div>
